<div class="rounded-xl shadow p-6 bg-white">
  <app-text variant="subtitle" as="h2">Extrato</app-text>

  <table class="w-full text-sm border-t-2 mt-3 pt-3">
    <tbody>
      <tr *ngFor="let item of items" class="border-b-2">
        <!-- icone -->
        <td class="py-4">
          <ng-container [ngSwitch]="item.credit">
            <app-icon-dollar
              *ngSwitchCase="true"
              class="w-4 h-4"
              [ngClass]="'text-green-600'"
            ></app-icon-dollar>

            <app-icon-arrow-down-left
              *ngSwitchCase="false"
              class="w-4 h-4"
              [ngClass]="'text-red-600'"
            ></app-icon-arrow-down-left>
          </ng-container>
        </td>
        <!-- Deposito ou Saque -->
        <td class="py-4">
          <app-text [color]="item.credit ? 'text-green-600' : 'text-red-600'">{{
            item.description
          }}</app-text>
        </td>
        <!-- Valor -->
        <td class="py-4">
          <app-text [color]="item.credit ? 'text-green-600' : 'text-red-600'">
            {{ item.amount | brl }}
          </app-text>
        </td>
        <!-- Data -->
        <td class="py-4">
          <app-text [color]="item.credit ? 'text-green-600' : 'text-red-600'">
            {{ item.date }}</app-text
          >
        </td>
        <!-- Icone de Lápís -->
        <td class="py-4 text-center">
          <app-icon-arrow-pencil
            [ngClass]="item.credit ? 'text-green-600' : 'text-red-600'"
            class="w-4 h-4"
          ></app-icon-arrow-pencil>
        </td>
        <!-- Icone de Lixeira -->
        <td class="py-4 text-center">
          <button (click)="deleteTransaction(item.id)">
            <app-icon-bin
              [ngClass]="item.credit ? 'text-green-600' : 'text-red-600'"
              class="w-4 h-4"
            ></app-icon-bin>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-end mt-4">
    <a
      href="#"
      class="inline-flex items-center gap-2 text-cyan-blue-500 hover:underline"
    >
      <app-text variant="text-regular" color="text-cyan-blue-500"
        >Listar
      </app-text>
      <app-icon-arrow-right />
    </a>
  </div>
</div>
