<aside class="bg-white rounded-lg shadow-md md:block w-64 h-full mb-6">
  <div class="flex flex-col p-6">
    <app-menu-item
      [label]="'Início'"
      [route]="'/inicio'"
      [iconComponent]="iconHome"
      [active]="currentRoute === '/inicio'"
    ></app-menu-item>
    <app-menu-item
      [label]="'Transações'"
      [route]="'/transacoes'"
      [iconComponent]="iconDollar"
      [active]="currentRoute === '/transacoes'"
    ></app-menu-item>
    <app-menu-item
      [label]="'Extrato'"
      [route]="'/extrato'"
      [iconComponent]="iconList"
      [active]="currentRoute === '/extrato'"
    ></app-menu-item>
    <app-menu-item
      [label]="'Meus Cartões'"
      [route]="'/meus-cartoes'"
      [iconComponent]="iconCard"
      [active]="currentRoute === '/meus-cartoes'"
    ></app-menu-item>
    <app-menu-item
      [label]="'Configurações'"
      [route]="'/configuracoes'"
      [iconComponent]="iconSettings"
      [active]="currentRoute === '/configuracoes'"
    ></app-menu-item>
  </div>
</aside>
