<button
  [disabled]="disabled"
  [ngClass]="{
    'bg-orange-500 hover:bg-orange-900 !text-white':
      theme === 'secondary' && !disabled,
    'bg-transparent border border-cyan-blue-500 text-cyan-blue-500 hover:bg-cyan-blue-500 hover:text-white':
      theme === 'outline-cyan-blue' && !disabled,
    'bg-transparent text-cyan-blue-500 hover:text-cyan-blue-900':
      theme === 'ghost-cyan-blue' && !disabled,
    'bg-transparent text-white hover:text-orange-500':
      theme === 'ghost-white' && !disabled,
    'bg-gray-200 text-gray-500 cursor-not-allowed': disabled,
    'bg-cyan-blue-500 hover:bg-cyan-blue-900 text-white':
      theme === 'primary' && !disabled,
    'px-3': size === 'P',
    'px-12': size === 'G',
    'px-28': size === 'GG'
  }"
  class="py-[14px] rounded-lg font-lato text-base  font-semibold transition-colors duration-300 flex items-center justify-center gap-2"
>
  <!-- Ícone à esquerda -->
  <ng-content select="[icon-left]"></ng-content>

  <span>{{ label }}</span>

  <!-- Ícone à direita -->
  <ng-content select="[icon-right]"></ng-content>
</button>
