<div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full mx-4">
    <h2 class="text-black-900 text-lg mb-4 text-center">Editar Transação</h2>
    <div class="mb-4">
      <label class="block text-black-900 mb-2">Valor</label>
      <input type="number" [(ngModel)]="amount" class="w-full p-2 border border-gray-300 rounded" />
    </div>
    <div class="mb-4">
      <label class="block text-black-900 mb-2">Descrição</label>
      <input type="text" [(ngModel)]="description" class="w-full p-2 border border-gray-300 rounded" />
    </div>
    <div class="flex justify-center gap-4">
      <app-button theme="outline-cyan-blue" size="G" label="Cancelar" (click)="onCancel()"></app-button>
      <app-button theme="primary" size="G" label="Salvar" (click)="onSave()" class="text-white"></app-button>
    </div>
  </div>
</div> 