<div class="min-h-screen bg-gray-100 flex flex-col">
  <!-- Conteúdo Principal -->
  <div class="bg-[#dee9ea] flex flex-grow">
    <!-- Menu Lateral -->
    <app-aside></app-aside>

    <!-- Dashboard, Extrato e Nova Transação -->
    <main class="flex-grow px-6 pt-6 pb-6">
      <!-- Container para todos os componentes -->
      <div class="flex flex-col 2md:block gap-6 relative">
        <!-- Dashboard sempre em cima -->
        <div class="w-full 2md:w-2/3 2md:pr-6">
          <app-dashboard></app-dashboard>
        </div>

        <!-- Nova Transação (segundo em telas pequenas, abaixo em telas grandes) -->
        <div class="order-2 2md:mt-6 2md:order-none">
          <app-transaction-form></app-transaction-form>
        </div>

        <!-- Extrato (terceiro em telas pequenas, lado direito em telas grandes) -->
        <div
          class="order-3 2md:order-none 2md:absolute 2md:top-0 2md:right-0 2md:w-1/3"
        >
          <div class="mx-auto overflow-x-auto rounded-xl shadow-md">
            <app-statement></app-statement>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Rodapé -->
  <app-footer></app-footer>
</div>
