<!-- new-transaction.component.html -->
<div class="rounded-xl shadow p-6 bg-white">
  <!-- Título e borda (sem interferência do layout flex) -->
  <div class="pb-6">
    <div class="border-b-2">
      <app-text variant="title-bold" as="h1" class="mb-4 border-gray-200 block">Nova Transação</app-text>
     </div>
  </div>



  <!-- Flex container para alinhar inputs e imagem -->
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2 pr-4">
      <!-- Inputs e botão -->
      <div class="mb-4">
        <!-- Espaçamento entre título e input -->
        <app-input class="w-full" [options]="transactionOptions" placeholder="Selecione o tipo de transação" size="G"></app-input>
      </div>

      <div class="mb-4">
        <!-- Input para digitação de valores monetários -->
        <div
          class="relative inline-block w-full"
          [ngClass]="{
            'max-w-[360px]': true
          }"
        >
          <div
            class="w-full bg-gray-100 border border-cyan-blue-500 text-cyan-blue-500 font-lato font-medium rounded-md p-4 flex items-center"
          >
            <span class="text-cyan-blue-500 mr-2">R$</span>
            <input
              type="text"
              placeholder="00,00"
              class="bg-transparent w-full outline-none text-cyan-blue-500 placeholder-cyan-blue-500 placeholder-opacity-70"
              [ngModel]="valorTransacao"
              autocomplete="off"
              inputmode="numeric"
            />
          </div>
        </div>
      </div>

      <app-button theme="primary" size="GG" label="Concluir Transação"></app-button>
    </div>

    <!-- Imagem alinhada ao primeiro input e centralizada -->
    <div class="w-full md:w-1/2 pl-4 mt-[20px] flex justify-center">
      <img src="assets/icons/vector.svg" alt="Ilustração de Transação" class="max-w-full h-auto" />
    </div>
  </div>
</div>