<!-- <div class="text-xs text-gray-400">[DEBUG] tag = {{ tag }}</div> -->

<ng-container [ngSwitch]="tag">
  <ng-container *ngSwitchCase="'h1'">
    <h1 [ngClass]="classes"><ng-content></ng-content></h1>
  </ng-container>
  <ng-container *ngSwitchCase="'h2'">
    <h2 [ngClass]="classes"><ng-content></ng-content></h2>
  </ng-container>
  <ng-container *ngSwitchCase="'span'">
    <span [ngClass]="classes"><ng-content></ng-content></span>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <p [ngClass]="classes"><ng-content></ng-content></p>
  </ng-container>
</ng-container>
